<!DOCTYPE HTML>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        margin: 10px;
        padding: 10px;
      }
      .response {
        font-size: 18px;
      }
      .buttons {
        padding: 20px;
      }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-99397605-3', 'auto');
      ga('send', 'pageview');
  </script>
  </head>
  <body>
    <div class="row text-center">
      <h1>{{ _('Tradutor Inglês-Francês') }}</h1>
      <p><a href="https://en.wikipedia.org/wiki/Recurrent_neural_network" target="_blank">{{ _('Rede Neural Recorrente') }}</a> {{ _('treinada para traduzir inglês para francês (ou quase isso =P).') }}</p>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-xs-offset-1 col-xs-5">
        <form method="post" action="" enctype="multipart/form-data">
          <textarea name="source" id="source" class="form-control input-lg" rows="5" cols="70">{{source}}</textarea>
          <div class="buttons">
            <button id="submit">{{ _('Traduzir') }}</button>
          </div>
        </form>
      </div>
      <div class="col-xs-5">
        <p class="text-left response" id="response"><strong>{{translated}}</strong></p>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-xs-offset-2 col-xs-8">
        <p>{{ _('Quer saber como isto funciona? Veja o') }}<a href="https://github.com/rafaelnovello/translator" target="_blank"> {{ _('repositório do projeto!') }}</a></p>
        <p>{{ _('Esta rede neural foi treinada com uma amostra limitada do vocabulário inglês,') }} <a href="/vocab/" target="_blank">{{ _('apenas 227 palavras,') }}</a> {{ _('para possibilitar o treinamento. Redes neurais deste tipo podem consumir semanas de processamento e milhares de dólares para alcançar resultados satisfatórios.') }}</p>
        <p>{{ _('Para obter melhores resultados, procure usar como base alguma sentença da') }} <a href="https://raw.githubusercontent.com/rafaelnovello/translator-demo/master/data/small_vocab_en" target="_blank">{{ _('base de treinamento') }}</a> {{ _('com algumas alterações.') }}
        </p>
        <div class="row">
          <p><strong>{{ _('Exemplos:') }}</strong></p>
          <div class="col-xs-6 text-left">
            <ul>
              <li>he saw a old/new yellow/red/blue truck/automobile .</li>
              <li>new jersey/united states is sometimes quiet/cold/hot during autumn/july/june , and it is snowy in april .</li>
            </ul>
          </div>
          <div class="col-xs-6 text-left">
            <ul>
              <li>dogs/cat are your least/most favorite animals .</li>
              <li>her/my most/least loved fruit is the apple/lemons , but their most/least loved is the grape/apple/bananas .</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>